Source: ros-melodic-rqt-bag-plugins
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/rqt_bag
Standards-Version: 3.9.2

Package: ros-melodic-rqt-bag-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-cairo, python-pil, ros-melodic-geometry-msgs, ros-melodic-rosbag, ros-melodic-roslib, ros-melodic-rospy, ros-melodic-rqt-bag, ros-melodic-rqt-gui, ros-melodic-rqt-gui-py, ros-melodic-rqt-plot, ros-melodic-sensor-msgs, ros-melodic-std-msgs
Description: rqt_bag provides a GUI plugin for displaying and replaying ROS bag files.
